@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600&display=swap');

@layer base {
    body {
        font-family: 'Nunito Sans', sans-serif;
        user-select: none
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

html {
    scroll-padding: 15rem 0 0 !important;
    scroll-padding-top: 15rem !important;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(60deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)) !important;
}

.skill-box {
    background: rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

section {
    background-color: #111;
}